$deny-color: #ff2727
$accept-color: #33ff05
$warn-color: #ff0
$warn-color-border: #ffd54b
$white-color-main: #fff
$white-color-sub: darken($white-color-main, .9)
$black-color-main: #2b2b2b
$black-color-sub: lighten($black-color-main, 1.1)
$variant-hover-color: rgba(#7392ff, .5)
$ticket-selection-color: #fffd81
$correct-color: rgba(#37ff28, .35)
$incorrect-color: rgba(#ff2424, .35)

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: PT Root UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol
  font-size: 1.1rem

*:focus-visible
  outline: 2px solid #99aeff

button
  cursor: pointer
  color: black

body
  min-width: 300px
/* header */
.header
  min-height: 5svh
  padding: 10px 100px

  border-bottom: 1px solid black
  background-color: darken($white-color-main, 1%)

  &__title
    font-family: "Roboto Light", sans-serif
    font-size: 2rem
  &__nav
    display: flex
    flex-flow: row wrap
    justify-content: space-between

  &__choose
    display: flex
    flex-direction: row
    align-items: center
    &__list
      display: flex
      flex-direction: row
      align-items: center
    &__item
      &:first-child
        margin-left: 10px
      &:not(:first-child)
        margin-left: 15px

      list-style: none
    &-text
      font-family: "Roboto Light", sans-serif
      font-weight: bolder
    &-btn
      padding: 2px 5px

      background-color: $ticket-selection-color
      border-radius: 1em
      overflow: hidden

      text-align: center
      font-size: 1.1em

      transition: 50ms ease-in-out

      &:hover, &:focus
        background-color: darken($ticket-selection-color, 10%)
      &:active
        transform: scale(95%)

/* main */
.main
  min-height: 30svh
  padding: 15px 100px
  position: relative

  &__section
    &__stats
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

  &__stats
    &-text
      padding: 5px 10px

      display: inline-block
  &__reset-btn
    padding: 4px 8px

    background-color: $deny-color

    color: white
    &:hover, &:focus
      background-color: darken($deny-color, 10%)

  &__ticket
    &__label
      margin-top: 5px
    &-range
      display: flex
      flex-direction: column
    &-range-input
      &-left, &-right
        counter-increment: none
        counter-set: none
        counter-reset: none
        max-width: 3rem
  &__submit-range
    min-width: 8rem
    padding: 2px
  &__question
    min-height: 1rem
    //max-height: 10rem
    margin-top: 10px

    //overflow: scroll

    word-break: break-word
  //&__form
  //  display: flex
  //  flex-direction: column

  &__variants
    word-break: break-word

    &__label
      min-height: 2em
      margin-top: 2px
      padding: 10px 5px

      display: flex
      flex-direction: row
      align-items: center

      border: 1px solid rgba(#000, .1)

      cursor: pointer

      transition: 100ms ease-in-out

    &__input
      width: 0
      height: 0

    &-letter
      margin: auto 4px
      align-self: center

      display: inline-block
      word-break: keep-all

      font-weight: bold
      font-family: sans-serif
    //&-text
      font-family: sans-serif
  &__status
    padding: 2px 4px

    display: none

    background-color: rgba($warn-color, 0.5)
    outline: 1px solid $warn-color-border
  &__submit
    &-check
      $first-color: adjust-hue($accept-color, -10deg)
      $second-color: adjust-hue($accept-color, 5deg)

      background: radial-gradient($first-color -20%, $second-color 140% )
      &:hover, &:focus
        background: radial-gradient(darken($first-color, 4%) -20% , darken($second-color, 4%) 140% )
    &-skip
      $first-color: adjust-hue($warn-color, -13deg)
      $second-color: adjust-hue($warn-color, 0deg)

      background: radial-gradient($first-color -0%, $second-color 140%)
      &:hover, &:focus
        background: radial-gradient(darken($first-color, 4%) -20% , darken($second-color, 4%) 140% )

    &-check, &-skip
      min-width: 100%
      min-height: 5rem
      margin-top: 20px

      font-family: "JetBrains Mono", monospace
      font-weight: bolder

      transition: 50ms ease-in-out

      &:active
        transform: scale(98%, 96%)

/* footer */
.footer
  min-height: 10svh

  border-top: 1px solid #000
  background-color: $white-color-sub

  text-align: center

/* decorations */

.correct
  border: 1px solid darken($correct-color, 40%)
  background-color: $correct-color
.incorrect
  border: 1px solid darken($incorrect-color, 20%)
  background-color: $incorrect-color

.popup
  min-width: 10svw
  left: 20%
  right: 20%
  padding: 10px 20px
  z-index: 3

  position: absolute

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  border-radius: 6px

  color: black

  &-btn
    margin-top: 20px
    padding: 10px 20px

    color: white

    border: 1px solid darken(dodgerblue, 50%)
    border-radius: 5px
    background-color: dodgerblue

    display: block
  &-success
    border: 1px solid darken($accept-color, 40%)
    background-color: lighten($accept-color, 20%)
  &-warning-weak
    border: 1px solid darken($warn-color-border, 40%)
    background-color: $warn-color

.pseudo-variant-focus
  &:hover, &:has(input:focus)
    transform: translateX(5px)

    border: 1px solid darken($variant-hover-color, 20%)
    background-color: $variant-hover-color

.pseudo-variant-checked
  &:has(input:checked)
    transform: translateX(10px)

    border: 1px solid darken($variant-hover-color, 40%)
    background-color: darken($variant-hover-color, 1%)
    filter: saturate(150%)

.popup-confirm
  z-index: 4

  min-width: 10svw
  padding: 10px 20px

  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  border-radius: 1rem
  background-color: rgba($warn-color, 1)

  color: black
  &__buttons
    width: 100%
    margin-top: 0.8rem

    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

.yes-btn, .no-btn
  padding: 5px 10px

  font-weight: bold
  color: white
.yes-btn
  background-color: $accept-color
.no-btn
  background-color: $deny-color

.background
  width: 100svw
  height: 100svh
  top: 0
  right: 0
  bottom: 0
  left: 0
  position: fixed
  z-index: 2

  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  background-color: rgba(0, 0, 0, 0.6)

.theme-white-main
  background-color: $white-color-main
  color: black

.theme-black-main
  background-color: $black-color-main
  color: white

.theme-white-sub
  background-color: $white-color-sub
  color: black

.theme-black-sub
  background-color: $black-color-sub
  color: white

.theme-white-input
  background-color: $white-color-main

.theme-black-input
  background-color: $black-color-main

@media (orientation: portrait)
  *
    font-size: 1.7rem
  .header__theme-switch
    input[name="theme-switch"]
      width: 40px
      height: 40px
  .main
    padding: 30px 20px
    &__ticket
      &__label
        margin-top: 1rem

    &__variants
      &__label
        padding: 0.8rem 0.4rem
        margin-top: 0.2rem
  .popup-btn
    padding: 0.5rem 1rem
